<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI" version="1.7.4" targetFramework="net461" />
  <package id="NetTopologySuite" version="1.14" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="ServiceStack" version="3.9.71" targetFramework="net452" />
  <package id="ServiceStack.Common" version="3.9.59" targetFramework="net452" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.14" targetFramework="net452" />
  <package id="ServiceStack.Redis" version="3.9.11" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.12" targetFramework="net452" />
</packages>